* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    /*font-family: 'Abril Fatface', cursive;*/
}

.background {
    background-color: #12181B;
    height: 130vh;
    padding-top: 10px;
}

.title {
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
    /*box-shadow: 10px 10px 100px red, -10px -10px 100px blue, 10px -10px 100px red, -10px 10px 100px blue;*/
}

.display {
    color: #ffff;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 35% 35% 35%;
    max-width: 300px;
}

.tile {
    border: 3px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.playerX {
    /*background-color: #000000;*/
    color: #a366ff;
    border-radius: 10%;
    /*box-shadow: 1px 1px 10px red, -1px -1px 10px blue, 1px -1px 10px red, -1px 1px 10px blue;*/
}

.playerO {
    /*background-color: #ffffff; */
    color: #ff3300;
    border-radius: 10%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.controls button {
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 50px;
}

#reset {
    box-shadow: 8px 8px 80px red, -8px -8px 80px blue, 8px -8px 80px red, -8px 8px 80px blue;
}

h1,
h2 {
    color: #ffff;
    text-shadow: 8px 8px 80px red, -8px -8px 80px blue;
}